.home-list-container
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 25vh;
    flex-wrap: wrap;
    z-index: 1;
}

.home-button
{
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-image-container
{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20vw;
}

.home-image-white
{
    opacity: 0;
}

.home-image-color
{
    position: absolute;
    height: 25vw;
    opacity: 0;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
}

.home-image-color__hover
{
    position: absolute;
    height: 27vw;
    animation: float 6s ease-in-out infinite;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    opacity: 1;
}

.home-image
{
    position: absolute;
    height: 25vw;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    opacity: 1;
}

.home-image__hover
{
    position: absolute;
    height: 27vw;
    animation: float 6s ease-in-out infinite;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    opacity: 0;
}

.home-button-text
{
    text-align: center;
    font-size: 2vw;
    letter-spacing: 0.01em;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
}

.toggle-button
{
    position: absolute;
    right: 7vw;
    width: 4vh;
    top: 7vh;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    z-index: 999;
}

.fast-list
{
    padding-top: 22vh;
    padding-left: 15vw;
    padding-right: 15vw;
    padding-bottom: 22vh;
}

.fast-list-device
{
    font-size: 7vh;
    margin-bottom: 2vh;
}

.fast-list-type-container
{
    margin-left: 7vh;
    margin-bottom: 7vh;
}

.fast-list-type
{
    font-size: 4.5vh;
}

.fast-list-plug-container
{
    margin-left: 6vh;
    margin-bottom: 6vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.fast-list-plug__on
{
    font-size: 5vh;
    margin-bottom: 1vh;
    transition-duration: 0.05s;
    transition-timing-function: ease-in;
}

.fast-list-plug__off
{
    font-size: 5vh;
    margin-bottom: 1vh;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
}