*
{
    position: relative;
    margin: 0px;
    padding: 0px;
}

* {
    scrollbar-width: thin;
    scrollbar-color: transparent #F3F3F3;
}

*::-webkit-scrollbar {
    width: 0;
}


input, button, submit
{
    border:none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@700;800;900&display=swap');

.font-main
{
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 800;
    line-height: 0.9em;
}

.font-second
{
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 700;
    line-height: 0.9em;
}

.font-third
{
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 900;
    line-height: 0.9em;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.font-paragraph
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.page
{
    min-height: 100vh;
}

.info-button
{
    position: absolute;
    right: 9vw;
    width: 4vh;
    bottom: 8vh;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    z-index: 999;
}